.header-class{
    color: #fff;
    background-color: rgb(17, 31, 94);
    text-align: center;
    border: none;
}

.col-md-4{
    color: #fff;
    margin-top: 2rem;
    background-color: rgb(17, 31, 94);
    padding: 100px;
    height: 25rem;
    width: 40%;
    border-radius: 3rem;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 65%), 0 6px 20px 0 rgb(0 0 0 / 65%);
    border: none;
}

.submit-button{
    text-align: center;
    margin-top: 1rem;
    margin: 2rem;
}

.register-button{
    background-color: rgb(91 96 92);
    margin-inline: 1rem;
    padding: 0.7rem;
    border-radius: 17px;
    color: #fff;
    border: none;
    
}

.mail-icon{
    position: absolute;
    /* display: inline; */
    /* size: 74px; */
    margin-top: 10.2rem;
    /* margin-left: 11px; */
    padding-right: 27rem;
    color: #fff;
}

.key-icon{
    position: absolute;
    /* display: inline; */
    /* size: 74px; */
    margin-top: 14.8rem;
    /* margin-left: 11px; */
    padding-right: 27rem;
    color: #fff;
}